body {
    background-color: #f587f3;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.link {
    color: #fff;
    font-size: 20px;
    border: 1px solid #e63262;
    padding: 16px 40px;
    border-radius: 60px;
    background-color: #e63262;
    transition: 300ms ease-in;
    display: block;
    margin: 20px 0 40px 10px;
    text-align: center;
    width: 250px;
}

.link:hover {
    transform: translateY(-5px);
    background-color: #eb073c;
    border-color: #eb073c;
}